<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Currencies</title>
</head>
<body>


    <div>
        <h2>Hajsik</h2>
        <span id="date" />
        <ul id="rates" />
    </div>

    <div>
        <form>
            Data
            <input type="date" id="rateDates">
        </form>
        <ul id="specificRate" />
    </div>

    <div>
        <select id="currencyInput">
            <option value="USD">USD</option>
            <option value="CHF">CHF</option>
            <option value="GBP">GBP</option>
        </select>
        <span id="specificCurrency" />
    </div>

<div id="curve_chart" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = '/api/Currency/';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $('#date').append(data.date);
                    $.each(data.rates,
                        function (currency, rate) {
                            console.log(currency + " " + rate);
                            $('<li>', { text: currency + " " + rate }).appendTo($('#rates'));
                        });
                    console.log(data);
                });
        });

        $('#rateDates').on('input', function () {
            $.getJSON(uri + "date/" + this.value)
            .done(function (data) {
                $('#specificRate').empty();
                $.each(data.rates,
                    function (currency, rate) {
                        $('<li>', { text: currency + " " + rate }).appendTo($('#specificRate'));

                    });
            });
        });

        $('#currencyInput').on('input', function () {
            var currency = this.value;
            $.getJSON(uri + currency.toLowerCase())
                .done(function (data) {
                    $('#specificCurrency').text('');
                    console.log(data);
                    $('#specificCurrency').append(currency + ": " + data);
                });
        });

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Year', 'Sales', 'Expenses'],
              ['2004', 1000, 400],
              ['2005', 1170, 460],
              ['2006', 660, 1120],
              ['2007', 1030, 540]
            ]);

            var options = {
                title: 'Company Performance',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</body>
</html>